.secondary-div input {
  width: 100%;
  text-align: center;
  margin: 0.5rem;
  padding: 0.2rem;
}

.secondary-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.highlighted-box {
  background-color: black;
}
.game-board {
  display: grid;
  grid-template-rows: 10rem 10rem 10rem;
  grid-template-columns: 10rem 10rem 10rem;
  align-content: center;
  justify-content: center;
}

/*  for some css stylings */
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background: #fff;
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
}
.drop-down {
  display: block;
  width: 100%;
  padding: 0.2rem;
  margin: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
p {
 
  margin: 1rem auto 0rem auto;
}
@media (max-width: 550px){
  .game-board {
    display: grid;
    grid-template-rows: 7rem 7rem 7rem;
    grid-template-columns: 7rem 7rem 7rem;
    align-content: center;
    justify-content: center;
  }
}